body {
    text-align: center;
    color: #403a3a;
    background-color: #fff3e1;
    padding: 40px;
}

.btn {
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn-green {
    color: #29743d;
    background-color: #6fff7d;
    border: 1px solid #59ec68;
    font-weight: 600;
    transition: background-color .3s;
}

.btn-green:hover {
    background-color: #5adb67;
}

.btn-red {
    color: white;
    background-color: #da4949;
    border: 1px solid #eb5454;
    font-weight: 600;
    transition: background-color .3s;
}

.btn-red:hover {
    background-color: #c03838;
}

.btn-refresh {
    margin-top: 20px;
    margin-bottom: 15px;
}

.track-list {
    margin-top: 50px;
}

.cardPlaylist {
    display: inline-block;
    min-width: 300px;
    border: 2px solid #d9d9d9;
    padding: 30px;
    border-radius: 5px;
    margin: 50px;
}

.cardPlaylist img {
    max-width: 150px;
}

.cardPlaylist button {
    display: inline-block;
    width: 100%;
    background-color: #6fff7d;
    border-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.form-group {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.fg-search {
    max-width: none;
}

label {
    display: block;
    text-align: left;
}

input, textarea {
    padding: 10px;
    border-radius: 0;
    outline: none;
}

input[type='text'],
textarea {
    width: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

input[type='submit'] {
    border-radius: 0 5px 5px 0;
    border: 1px solid #59ec68;
}

hr {
    margin: 50px 0;
}