body {
    text-align: center;
    color: #403a3a;
    background-color: #fff3e1;
    padding: 4px 20px 20px;
}

.btn {
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn-green {
    color: #29743d;
    background-color: #6fff7d;
    border: 1px solid #59ec68;
    font-weight: 600;
    transition: background-color .3s;
}

.btn-green:hover {
    background-color: #5adb67;
}

.btn-red {
    color: white;
    background-color: #da4949;
    border: 1px solid #eb5454;
    font-weight: 600;
    transition: background-color .3s;
}

.btn-red:hover {
    background-color: #c03838;
}

.btn-refresh {
    margin-top: 20px;
    margin-bottom: 15px;
}

.track-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin-top: 50px;
}

.cardPlaylist {
    width: 200px;
    border-radius: 8px;
    padding: 14px;
    background-color: #ffe3b5;
}

.cardPlaylist img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.wrap-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.wrap-info h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0;
}

.wrap-info p {
    margin: 0;
}

.cardPlaylist button {
    display: inline-block;
    width: 100%;
    background-color: #6fff7d;
    border-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.form-group {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.fg-search {
    max-width: none;
}

label {
    display: block;
    text-align: left;
}

input, textarea {
    padding: 10px;
    border-radius: 0;
    outline: none;
}

input[type='text'],
textarea {
    width: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

input[type='submit'] {
    border-radius: 0 5px 5px 0;
    border: 1px solid #59ec68;
}

hr {
    margin: 50px 0;
}

/* ---------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #d6c4a9;
}

hr {
    height: 1px;
    border: none;
    background-color: #d6c4a9;
}